@import url(https://fonts.googleapis.com/css?family=Poppins:300,400,500,700,900&display=swap);
html {
  background-color: black; }

body {
  font-family: -apple-system, BlinkMacSystemFont;
  background-color: rgba(0, 0, 0, 0);
  padding: 0;
  margin: 0;
  overflow: hidden; }

#navbar {
  display: flex;
  width: 95vw;
  padding-top: 32px;
  margin: 0 auto; }

#logo {
  width: 9vw;
  height: 3.5vw; }

#nav {
  width: 52%;
  margin: 0 auto;
  justify-content: space-around;
  display: flex; }

#nav li {
  flex-direction: row;
  align-items: center;
  display: inherit; }

.navlinks {
  text-align: center;
  color: white;
  text-decoration: none;
  font-size: 0.81vw;
  letter-spacing: 0.25vw;
  font-weight: 300;
  padding: 0 2px 9px 6px; }

.navlinks:hover {
  border-bottom: 2px solid white;
  padding: 0 2px 8px 6px; }

.social_profile {
  position: relative;
  top: 2vh; }

.social_profile ul {
  display: flex;
  list-style: none;
  padding-inline-start: 0 !important; }

.social_profile ul li {
  margin-left: 2vw; }

.social_profile ul li a img {
  width: 1.7vw; }

#preorder {
  letter-spacing: 0.25vw;
  font-weight: 300;
  color: #4dcfff;
  text-decoration: none;
  font-size: 0.75vw;
  float: right;
  position: relative;
  top: 1vh; }

#preorderline {
  border-bottom: 2px solid white;
  width: 58%;
  float: right;
  position: relative;
  top: 15px;
  right: 3px; }

.container {
  width: 1540px;
  margin: 0 auto; }
  .container.center {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; }
  .container .title {
    position: relative;
    width: 350px; }
    .container .title h1 {
      font-size: 2rem;
      margin: 8px 0; }
  .container .product-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 0 80px; }
    .container .product-row .card {
      box-sizing: border-box;
      position: relative;
      border-radius: 12px;
      padding: 24px;
      cursor: pointer;
      background: #ffffff;
      width: 425px;
      height: 425px;
      margin: 24px; }
      .container .product-row .card .category {
        font-size: 0.875rem;
        color: #424550;
        font-weight: 500;
        text-align: center;
        width: 100%;
        margin-bottom: 32px;
        display: block; }
      .container .product-row .card img {
        display: flex;
        margin: 0 auto; }
      .container .product-row .card .product-info {
        position: absolute;
        width: 375px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        left: 0;
        right: 0;
        margin: 0 auto;
        bottom: 24px; }
        .container .product-row .card .product-info h4 {
          color: #282828;
          font-size: 1.1rem; }
        .container .product-row .card .product-info span {
          display: block; }

.fullscreen {
  height: 100vh; }
  .fullscreen .product {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .fullscreen .product .img {
      width: 50%;
      height: 100%;
      background: #dfdfdf;
      display: flex;
      align-items: center;
      justify-content: center; }
      .fullscreen .product .img img {
        cursor: move;
        width: 500px; }
    .fullscreen .product .product-details {
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      .fullscreen .product .product-details .inner {
        width: 480px;
        position: relative; }
        .fullscreen .product .product-details .inner .go-back {
          cursor: pointer;
          color: #282828;
          text-decoration: none;
          text-align: left;
          position: absolute;
          top: -124px;
          left: 0; }
        .fullscreen .product .product-details .inner .category {
          font-size: 1rem;
          color: #424550;
          font-weight: 500;
          text-align: center;
          width: 100%;
          margin-bottom: 32px; }
        .fullscreen .product .product-details .inner p {
          color: #424550;
          font-weight: 300; }
        .fullscreen .product .product-details .inner .additonals {
          margin: 24px 0 48px; }
          .fullscreen .product .product-details .inner .additonals span {
            margin-right: 16px;
            color: #424550; }
        .fullscreen .product .product-details .inner .qty-price {
          display: flex;
          align-items: center;
          justify-content: space-between; }
          .fullscreen .product .product-details .inner .qty-price .qty {
            display: flex;
            align-items: center; }
            .fullscreen .product .product-details .inner .qty-price .qty .add,
            .fullscreen .product .product-details .inner .qty-price .qty .minus {
              padding: 6px;
              margin: 8px 16px;
              height: 24px;
              width: 24px;
              display: flex;
              justify-content: center;
              align-items: center;
              border-radius: 100px; }
            .fullscreen .product .product-details .inner .qty-price .qty .add {
              border: 1px solid #282828;
              cursor: pointer; }
            .fullscreen .product .product-details .inner .qty-price .qty .minus {
              margin-left: 0;
              background: #dfdfdf;
              color: #787878; }
          .fullscreen .product .product-details .inner .qty-price .price {
            color: #282828;
            font-weight: 700;
            font-size: 1.4rem; }
        .fullscreen .product .product-details .inner .btn-row {
          margin-top: 72px;
          display: flex;
          align-items: center; }
          .fullscreen .product .product-details .inner .btn-row button {
            cursor: pointer;
            border: none;
            border-radius: 8px;
            height: 48px;
            padding: 0 48px;
            font-size: 0.875rem;
            text-transform: uppercase;
            font-weight: 500;
            letter-spacing: 0.06rem; }
            .fullscreen .product .product-details .inner .btn-row button.add-to-cart {
              background: #2d89fa;
              color: #fff;
              margin-right: 24px; }
            .fullscreen .product .product-details .inner .btn-row button.subscribe {
              background: transparent;
              color: #424550; }

#cover-video {
  position: fixed;
  top: 0px;
  left: 0vw;
  object-fit: fill;
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
  z-index: -2;
  background-color: #000; }

@font-face {
  font-family: Arial Regular;
  src: url(/public/assets/fonts/ARIAL.TTF); }

@font-face {
  font-family: Arial Bold;
  src: url(/public/assets/fonts/ARIALBD.TTF); }

@font-face {
  font-family: azuria;
  src: url(/public/assets/fonts/FontsFree-Net-Azuria.ttf); }

@font-face {
  font-family: SFCompactDisplay Bold;
  src: url(/public/assets/fonts/FontsFree-Net-SFCompactDisplay-Bold.ttf); }

@font-face {
  font-family: SFCompactDisplay Regular;
  src: url(/public/assets/fonts/FontsFree-Net-SFCompactDisplay-Regular.ttf); }

@font-face {
  font-family: "Avenir Medium";
  src: url("//db.onlinewebfonts.com/t/2090551770be22b09600a40b0b4673b7.eot");
  src: url("//db.onlinewebfonts.com/t/2090551770be22b09600a40b0b4673b7.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/2090551770be22b09600a40b0b4673b7.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/2090551770be22b09600a40b0b4673b7.woff") format("woff"), url("//db.onlinewebfonts.com/t/2090551770be22b09600a40b0b4673b7.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/2090551770be22b09600a40b0b4673b7.svg#Avenir Medium") format("svg"); }

@font-face {
  font-family: "Avenir";
  src: url(/public/assets/fonts/AvenirLTStd-Roman.woff2) format("woff2"), url(/public/assets/fonts/AvenirLTStd-Roman.woff) format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Avenir LT Std";
  src: url(/public/assets/fonts/AvenirLTStd-Black.woff2) format("woff2"), url(/public/assets/fonts/AvenirLTStd-Black.woff) format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Avenir LT Std";
  src: url(/public/assets/fonts/AvenirLTStd-Book.woff2) format("woff2"), url(/public/assets/fonts/AvenirLTStd-Book.woff) format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

#order-wrapper {
  color: white;
  width: 1600px;
  margin: 0 auto;
  font-size: SFCompactDisplay Regular;
  position: relative;
  top: 3vh;
  display: flex; }

#order-heading {
  height: 17vh; }

.order-divs {
  width: 48%;
  padding: 0% 1% 0% 1%; }

#horiline {
  position: absolute;
  height: 3.8vw; }

#order-head {
  font-size: 3.8vw;
  letter-spacing: 4px;
  font-family: azuria;
  position: relative;
  left: 3%; }

#order-subline {
  font-size: 0.6vw;
  letter-spacing: 0.25vw;
  position: relative;
  bottom: 3.7vw;
  left: 4%; }

#order-info {
  height: 30vh; }

#order-info h2 {
  font-size: 1.89vw;
  font-weight: 400;
  letter-spacing: 2px; }

#order-info p {
  line-height: 2vh;
  margin-top: -1vh;
  letter-spacing: 0px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 0.74vw; }

#order-info hr {
  width: 93%;
  position: relative;
  right: 3.2%;
  top: 1vh; }

#order-platforms {
  position: relative;
  right: 5%;
  top: 2.6vh; }

.platforms {
  width: 25%;
  margin-left: 5%; }

#ps5 {
  position: relative;
  top: 0.2vh; }

#preorder-or {
  color: white;
  display: flex; }

#preorder-btn {
  padding: 1vw 1.36vw;
  border-radius: 1.36vw;
  border: 0px solid white;
  background-color: #f83d43;
  color: rgba(255, 255, 255, 0.8);
  letter-spacing: 1px;
  font-size: 0.81vw; }

#preorder-or-p {
  font-size: 1.56vw;
  font-family: "Avenir Medium";
  margin: 7px 10px 10px 30px; }

#preorder-or-p span {
  font-size: 1.24vw;
  margin-left: 5px; }

#note {
  font-size: 0.75vw;
  line-height: 2vh;
  color: rgba(255, 255, 255, 0.85);
  margin-left: 1%; }

#payment-methods {
  margin-top: 2vh; }

#cards {
  width: 37%; }

.payment-methods {
  width: 20%;
  position: relative;
  top: -0.3vh;
  margin-left: 5%; }

#btc {
  position: relative;
  top: 0.5vh; }

#gameart {
  margin: 0 auto;
  width: 80%;
  position: relative;
  left: 15%;
  top: 10%; }

/* ------------------------------------

     MEDIA QUERIES FOR 1920px WIDTH

   ------------------------------------ */
@media screen and (max-width: 1920px) {
  #order-wrapper {
    width: 1360px;
    top: 0; }
  #gameart {
    width: 55%;
    left: 25%; } }

/* ------------------------------------

     MEDIA QUERIES FOR 1440px WIDTH

   ------------------------------------ */
@media screen and (max-width: 1440px) {
  #order-wrapper {
    width: 1024px;
    top: 0; }
  #gameart {
    width: 55%;
    left: 25%; } }

/* ------------------------------------

     MEDIA QUERIES FOR 1024px WIDTH

   ------------------------------------ */
@media screen and (max-width: 1240px) {
  #order-wrapper {
    width: 768px;
    top: 0; }
  #gameart {
    width: 55%;
    left: 25%; } }

/* ------------------------------------

     MEDIA QUERIES FOR 768px WIDTH

   ------------------------------------ */
@media screen and (max-width: 768px) {
  #order-wrapper {
    width: 580px;
    top: 0; }
  #gameart {
    width: 75%;
    left: 20%;
    top: 15%; } }

p {
  color: white; }

#fea-card {
  width: 48%;
  margin: 0 auto; }

#fea-card img {
  width: 100%; }

#fealine {
  position: relative;
  bottom: 6vw;
  font-size: 0.9vw;
  padding-left: 4%;
  width: 80%; }

#news-wrapper {
  width: 1920px;
  margin: 0 auto;
  height: 100vh;
  padding-top: 10vh; }

#news-left-wrapper {
  width: 50%; }

#fea-wrapper {
  display: flex; }

#news-left-heading {
  margin-left: 2%; }

#horiline {
  position: absolute;
  height: 3.8vw; }

#news-left-head {
  font-size: 3.8vw;
  letter-spacing: 4px;
  font-family: azuria;
  position: relative;
  left: 3%; }

#news-left-subline {
  font-size: 0.6vw;
  letter-spacing: 0.5vw;
  position: relative;
  bottom: 3.7vw;
  left: 3%; }

/* ------------------------------------

     MEDIA QUERIES FOR 1920px WIDTH

   ------------------------------------ */
@media screen and (max-width: 1920px) {
  #news-wrapper {
    width: 1360px;
    top: 0; }
  #gameart {
    width: 55%;
    left: 25%; } }

/* ------------------------------------
  
       MEDIA QUERIES FOR 1440px WIDTH
  
     ------------------------------------ */
@media screen and (max-width: 1440px) {
  #news-wrapper {
    width: 1024px;
    top: 0; }
  #gameart {
    width: 55%;
    left: 25%; } }

/* ------------------------------------
  
       MEDIA QUERIES FOR 1024px WIDTH
  
     ------------------------------------ */
@media screen and (max-width: 1240px) {
  #news-wrapper {
    width: 768px;
    top: 0; }
  #gameart {
    width: 55%;
    left: 25%; } }

/* ------------------------------------
  
       MEDIA QUERIES FOR 768px WIDTH
  
     ------------------------------------ */
@media screen and (max-width: 768px) {
  #news-wrapper {
    width: 580px;
    top: 0; }
  #gameart {
    width: 75%;
    left: 20%;
    top: 15%; } }

