#cover-video {
  position: fixed;
  top: 0px;
  left: 0vw;
  object-fit: fill;
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
  z-index: -2;
  background-color: #000;
}
// @media screen and (max-width: 1920px) {
//   #cover-video {
//     position: absolute;
//     top: 0px;
//     left: 0vw;
//     margin: 0 auto;
//     object-fit: fill;
//     width: 100vw;
//     height: auto;
//     z-index: -2;
//     background-color: #000;
//   }
// }
