p {
  color: white;
}
// html {
//   background-color: white;
// }
#fea-card {
  width: 48%;
  margin: 0 auto;
}

#fea-card img {
  width: 100%;
}
#fealine {
  position: relative;
  bottom: 6vw;
  font-size: 0.9vw;
  padding-left: 4%;
  width: 80%;
}
